@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Rubik:ital@1&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #1f1f1e;
    margin: 50px;
    text-align: center;
    font-family: Inter;
    color: white;
}

.banner {
  margin: 20px;
  padding: 10px;
  background-color: #313130;
  border-radius: 20px;
}

.banner-heading {
  letter-spacing: 20px;
  font-size: 200%;
}

    @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  /* Initial state of the element */
  .lineUp {
    opacity: 0; /* Initially hidden */
    transform: translateY(80%);
    animation: 2s anim-lineUp ease-out; /* Animation properties */
  }

.container {
    overflow: hidden;
    background-color: #2f2f2e;
    border-radius: 20px;
    padding: 5px 20px;
    box-shadow: 0 12px 16px 0 #00000015,0 17px 20px 0 #00000015;
}

.box {
    overflow: hidden;
    background-color: #2f2f2e;
    border-radius: 20px;
    padding: 5px 20px;
    font-family: Roboto;
    margin: 50px;
    box-shadow: 0 12px 16px 0 #00000015,0 17px 20px 0 #00000015;
}
 
 /* CSS animation */
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  /* Initial state of the element */
  .lineUp {
    opacity: 0; /* Initially hidden */
    transform: translateY(80%);
    animation: 2s anim-lineUp ease-out; /* Animation properties */
  }

  /* Style the navbar links */
  .link {
    float: right; /* Float the links to the left */
    display: block; /* Display links as blocks */
    color: white; /* Text color */
    text-align: center; /* Center-align text */
    padding: 14px 20px; /* Padding around the links */
    text-decoration: none; /* Remove default underline */
    margin: 20px;
    transition: transform 0.5s; /* Add smooth transition */
  }
  
  /* Change color on hover */
  .link:hover {
    transform: scale(1.2); /* Enlarge text on hover */
    border-radius: 20px;
  }

  .link.active {
    border-radius: 20px;
  }
  
  /* Active/current link */
  .logo {
    transition: transform 0.5s; /* Add smooth transition */
    float: left;
    overflow: hidden;
    margin-left: 20px;
  }

  h1 {
    letter-spacing: 10px;
  }
  

    /* Change color on hover */
  .logo:hover {
    transform: scale(1.1); /* Enlarge text on hover */
  }

  i {
    margin-right: 10px;
  }

  /* test */
  .buttons-container {
    display: flex; /* Align buttons horizontally */
    margin-top: 20px;
    justify-content: center; /* Optional: Adjust as needed */
    flex-wrap: wrap; /* Allow buttons to wrap to the next line if needed */
  }
  
  /* Individual game button styles remain the same */
  .game-button {
    display: inline-block;
    position: relative;
    margin: 10px;
    margin-right: 50px;
  }
  
  .game-button img {
    display: block;
    width: 150px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.356);
    transition: filter 0.3s;
  }
  
  .game-button span {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .game-button:hover img {
    filter: brightness(70%);
  }
  
  .game-button:hover span {
    opacity: 1;
  }
  
/* advanced css (for geniuses only) */

.lukespicks {
  background-color: #2f2f2e;
  border-radius: 20px 20px 10px 10px;
  padding: 10px;
  margin-top: 50px;
  width: 80%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

/* maybe scroll code? */

::-webkit-scrollbar{
  height: 10px;
  width: 4px;
  background: #212121;
  border-radius: 0px 0px 20px 20px;
}

/* Track */
::-webkit-scrollbar-track {
background: #313131; 
border-radius: 0px 0px 20px 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgba(19, 18, 18, 0)f2e; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgba(35, 34, 34, 0)f2e; 
}

::-webkit-scrollbar-thumb:horizontal{
  background: #252525;
  border-radius: 20px;
}

/* bounce */
#text {
  text-shadow: 3px 6px 3px rgba(0,0,0,.1);
  font-size: 40px;
  color: white;
}

#text i {
  position: relative;
  top: 10px;
  font-style: normal;
  animation: bounce 1s ease infinite alternate;
}

#text i:nth-child(1) {
  -moz-animation-delay: .2s;
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}
#text i:nth-child(2) {
  -moz-animation-delay: .4s;
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}
#text i:nth-child(3) {
  -moz-animation-delay: .6s;
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}
#text i:nth-child(4) {
  -moz-animation-delay: .8s;
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}
#text i:nth-child(5) {
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
#text i:nth-child(6) {
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

@keyframes bounce { 100% { top: -20px; } }

/* idk honestly */

.contuner {
  display: flex; /* Align buttons horizontally */
  justify-content: center; /* Optional: Adjust as needed */
  flex-wrap: wrap;
  margin-top: 50px;
}

.idontlikeclasses {
  width: 300px; /* Adjust as needed */
  height: 300px; /* Adjust as needed */
  border-radius: 20px; /* Adjust the border radius for rounded edges */
  overflow: hidden;
  position: relative;
  margin: 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.356);
}

.ermage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
  opacity: 0; /* Initially hide the overlay */
  transition: opacity 0.3s ease-in-out; /* Smooth transition for opacity with ease in and out */
}

.texticus {
  position: absolute;
  bottom: 20px; /* Adjust as needed */
  left: 30px; /* Adjust as needed */
  color: white; /* Adjust text color as needed */
  font-size: 16px; /* Adjust text size as needed */
  z-index: 1;
}

.idontlikeclasses:hover .overlay {
  opacity: 1; /* Show the overlay on hover */
}

.idontlikeclasses:hover .overlay .ermage {
  opacity: 0; /* Hide the static image on hover */
}

.highlight {
  display: inline-block;
  padding: .25em 0;
  background: #000000;
  color: #ffffff;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.money {
  display: inline-block;
  padding: .25em 0;
  background: #124203;
  color: #ffffff;
  border-radius: 20px;
  padding-left: 10px;
  margin-left: 180px;
  padding-right: 10px;
}

.button {
  background-color: #313130; /* Green */
  border: none;
  color: white;
  font-family: Inter;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  color: white; /* Text color */
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  transition: transform 0.5s; /* Add smooth transition */
}


  /* Change color on hover */
  .button:hover {
    transform: scale(1.3); /* Enlarge text on hover */
    border-radius: 20px;
    box-shadow: 0 12px 16px 0 #0000000c,0 17px 20px 0 #00000009;
  }

  .button.active {
    border-radius: 25px;
  }

